.work-area-canvas-right-container {
  min-width:200px;
  width: auto !important;
  width:200px;

  flex:3;
  background-color: #cfe;

  .list {
    list-style: none;
    margin: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;

    justify-content: space-around;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .selected {
    background: deepskyblue;
  }
}