.work-area-canvas-right-container {
  min-width:200px;
  width: auto !important;
  width:200px;
  overflow-y: auto;

  flex:1;
  background-color: #ffffff;

  .list {
    list-style: none;
    margin: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;

    justify-content: space-around;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;

    li {
      padding: 20px 10px;
    }
  }

  .selected {
    background: deepskyblue;
  }
}