<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-7">
    <title></title>
    <style>
        body, html {
            background-color: #fff;
            color: #fff;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        canvas {
            position:absolute;
        }
    </style>
</head>
<body>
<div id="root" style="width: 100%; height: 100%; background-color: #000000"></div>
<div id="video-container">
    <video id="video" width="100%">
        <source id="mp4" type="video/mp4" />
    </video>
</div>
</body>
</html>